<section class="bg-white pb-8">
  <div class="container mx-auto flex items-center flex-wrap pt-4">
    <div class="w-full mx-auto p-6 border border-gray-300 rounded-lg">
      <!-- Título do curso -->
      <div class="flex justify-between items-center">
        <h1 class="text-2xl font-semibold mb-4"><%= @course.title %></h1>
        <%= link_to I18n.t("back"), course_path(@course), class: "bg-blue-500 text-white font-semibold py-2 px-4 rounded" %>
      </div>

      <!-- Estrutura Principal -->
      <div class="grid grid-cols-1 md:grid-cols-3 gap-6">

        <!-- Coluna do Vídeo -->
        <div class="md:col-span-2">
          <div class="w-full lg:h-[600px] sm:h-[400px] md:h-[300px] bg-gray-800 rounded-lg flex items-center justify-center">
            <video class="w-full my-3" controls>
              <source src="<%= url_for(@lesson.file) %>" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          </div>
        </div>

        <!-- Coluna das Aulas -->
        <div class="flex flex-col space-y-4 overflow-y-auto lg:h-[600px] sm:h-[400px] md:h-[300px]">
          <% @course.lessons.each do |lesson| %>
            <%= link_to course_lesson_path(@course, lesson), class: "bg-#{lesson.id == @lesson.id ? 'green-100' : 'gray-100'} p-4 rounded-lg shadow" do %>
              <div class="space-y-4">
                <div>
                  <h2 class="text-lg font-medium"><%= lesson.title %></h2>
                  <p class="text-sm text-gray-600"><%= lesson.short_description %></p>
                  <p class="text-sm text-gray-600"><%= I18n.t("duration") %>: <%= lesson.duration %> <%= I18n.t("minutes") %></p>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</section>
