<section class="bg-white py-1">
  <div class="container mx-auto flex items-center flex-wrap pt-3 pb-12">
    <h1 class="text-2xl font-bold"><%= @course.title %></h1>
    <div class="w-full text-right mb-2">
      <a href="<%= admin_courses_path %>" class="bg-blue-500 text-white px-4 py-2 rounded-md">
        <%= I18n.t('back') %>
      </a>
    </div>

    <div class="w-full flex  flex-col">
      <p><%= @course.description %></p>
      <p>Publicado em: <%= @course.created_at.strftime('%d/%m/%Y') %></p>
      <p>Duração: <%= @course.total_duration_in_minutes %> minutos</p>
      <p>Tamanho: <%= @course.total_size_in_megabytes %> MB</p>
      <p>Total de aulas: <%= @course.lessons.count %></p>

      <h2 class="text-xl font-bold my-4"><%= I18n.t('lessons') %></h2>
    </div>

    <div class="w-full text-right mb-4">
      <%= link_to 'Criar aula', new_admin_course_lesson_path(@course), class: 'bg-blue-500 text-white px-4 py-2 rounded-md' %>
    </div>


    <div class="space-y-4 w-full">
      <% if @lessons.any? %>
        <% @lessons.each do |lesson| %>
          <div class="flex items-center mb-4 border border-gray-400 rounded-lg">
            <div class="w-64 h-40 flex-shrink-0">
              <% if lesson.processed? %>
                <%= link_to image_tag(lesson.thumbnail, class: 'w-full h-full object-cover rounded-lg'), admin_course_lesson_path(@course, lesson) %>
              <% else %>
                <%= image_tag(lesson.thumbnail, class: 'w-full h-full object-cover rounded-lg') %>
              <% end %>
            </div>
            <div class="ml-4">
              <h2 class="text-lg font-semibold text-gray-900"><%= lesson.title %></h2>
              <p class="text-sm text-gray-500"><%= truncate(lesson.description, length: 100) %></p>
              <p class="text-xs text-gray-400 mt-1">Publicado em: <%= lesson.created_at.strftime('%d/%m/%Y') %></p>
              <p class="text-xs text-gray-400 mt-1">Duração: <%= lesson.processed? ? lesson.duration : 0%> minutos</p>
              <p class="text-xs text-gray-400 mt-1">
                <% if lesson.processed? %>
                  <span class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300">Processado</span>
                <% else %>
                  <span class="bg-yellow-100 text-yellow-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-yellow-900 dark:text-yellow-300">Processando</span>
                <% end %>
              </p>

              <div class="mt-2 flex items-center text-right">
                <%= link_to I18n.t('edit'), edit_admin_course_lesson_path(@course, lesson), class: 'bg-blue-500 text-white text-xs font-semibold py-1 px-2 rounded hover:bg-blue-600 mr-2' %>
                <%= button_to I18n.t('destroy'), admin_course_lesson_path(@course, lesson), method: :delete, form: { data: { turbo_confirm: I18n.t('confirm_message') } }, class: 'bg-red-500 text-white text-xs font-semibold py-1 px-2 rounded hover:bg-red-600' %>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <p class="text-center text-gray-500"><%= I18n.t('not_found', model: I18n.t("activerecord.models.#{Lesson.to_s.downcase}.two")) %></p>
      <% end %>
    </div>
  </div>
</section>
